doctype html
head
  title  Web Applications 
  meta(charset="utf-8")
  link(href="/stylesheets/style.css" rel="stylesheet" type="text/css")
  script(type="text/javascript" src="file.js")
  link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
.container-fluid
  .header
    h1.text-center  MAPLE &nbsp; LEAF &nbsp; REPORT 
  nav.navbar.navbar-inverse
    .container-fluid
      .navbar-header
        a.navbar-brand(href='#') WebSiteName
      ul.nav.navbar-nav
        li.active
          a(href='#') Home
        li
          a(href='#') Register
        li
          a(href='#') Add a Review
      ul.nav.navbar-nav.navbar-right
        li
          a(href='#')
            span.glyphicon.glyphicon-user
            |  Sign Up
        li
          a(href='#')
            span.glyphicon.glyphicon-log-in
            |  Login
      form.navbar-form.navbar-left(action='/action_page.php')
        .input-group
          input.form-control(type='text', placeholder='Search', name='search')
          .input-group-btn
            button.btn.btn-default(type='submit')
              i.glyphicon.glyphicon-search
form(method="POST" action="")
  label.fname
    | Username  
    br
  input.form-control(name="firstname" type="text" placeholder="")
  br
  label.password
    | Password 
    br
  input.form-control(name="password" type="password" placeholder="")
  br
  input(type="submit" name="submit" value="Log In")
  #footer
footer.page-footer.font-small.blue
  .footer-copyright.text-center.py-3
    | &copy; 2018 Copyright:
