extends layout
block content
  form(method="POST" action="")
    label.fname
      | Username  
      br
    input.form-control(name="firstname" type="text" placeholder="")
    br
    label.password
      | Password 
      br
    input.form-control(name="password" type="password" placeholder="")
    br
    input(type="submit" name="submit" value="Log In")
    #footer
  footer.page-footer.font-small.blue
    .footer-copyright.text-center.py-3
      | &copy; 2018 Copyright:
